[submodule "dependencies/HiveBoard"]
	path = dependencies/HiveBoard
	url = https://github.com/EESC-LabRoM/HiveBoard.git
[submodule "dependencies/curobo"]
	path = dependencies/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "dependencies/duatic_dynaarm"]
	path = dependencies/duatic_dynaarm
	url = https://github.com/Duatic/duatic_dynaarm.git
