[submodule "dependencies/HiveBoard"]
	path = dependencies/HiveBoard
	url = https://github.com/EESC-LabRoM/HiveBoard.git
[submodule "dependencies/curobo"]
	path = dependencies/curobo
	url = https://github.com/NVlabs/curobo.git
[submodule "dependencies/duatic_dynaarm"]
	path = dependencies/duatic_dynaarm
	url = https://github.com/Duatic/duatic_dynaarm.git
[submodule "dependencies/hiveboard-bench.github.io"]
	path = dependencies/hiveboard-bench.github.io
	url = https://github.com/hiveboard-bench/hiveboard-bench.github.io.git
[submodule "dependencies/IsaacLab"]
	path = dependencies/IsaacLab
	url = https://github.com/isaac-sim/IsaacLab.git
[submodule "dependencies/urdf-usd-converter"]
	path = dependencies/urdf-usd-converter
	url = https://github.com/newton-physics/urdf-usd-converter
