<?xml version='1.0' encoding='utf-8'?>
<robot name="Ball_Valve">
  <joint name="RevoluteJoint" type="revolute">
    <origin xyz="0. 0. 0." rpy="0. 0. 0." />
    <parent link="valvula_esfera" />
    <child link="alavanca_pivot" />
    <axis xyz="1. 0. 0." />
    <limit lower="-1.5707963" upper="0." effort="100.0" velocity="10.0" />
  </joint>
  <link name="alavanca_pivot">
    <inertial><origin xyz="0.033278 0.011500 0.052028" rpy="0 0 0" /><mass value="0.1230" /><inertia ixx="2.18765e-05" ixy="0" ixz="0" iyy="0.000199351" iyz="0" izz="0.000188323" /></inertial><visual>
      <origin xyz="-0.0468898 0.0175836 -0.0114654" rpy="1.5707964 -0. 1.5707964" />
      <geometry>
        <mesh filename="meshes/Mesh_1.obj" scale="1. 1. 1." />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0468898 0.0175836 -0.0114654" rpy="1.5707964 -0. 1.5707964" />
      <geometry>
        <mesh filename="meshes/Mesh_1.obj" scale="1. 1. 1." />
      </geometry>
    </collision>
  </link>
  <link name="valvula_esfera">
    <inertial><origin xyz="0.000000 0.000000 0.020000" rpy="0 0 0" /><mass value="0.2689" /><inertia ixx="0.000166279" ixy="0" ixz="0" iyy="0.000209756" iyz="0" izz="0.000304335" /></inertial><visual>
      <origin xyz="-0.0400277 0. 0. " rpy="1.5707964 0. 1.5707964" />
      <geometry>
        <mesh filename="meshes/Mesh.obj" scale="1. 1. 1." />
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.0400277 0. 0. " rpy="1.5707964 0. 1.5707964" />
      <geometry>
        <mesh filename="meshes/Mesh.obj" scale="1. 1. 1." />
      </geometry>
    </collision>
  </link>
</robot>